* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1600px;
    // background: $background;
}

html {
    font-size: 125%;
}

a {
    text-decoration: none;
}

h1, h2, h3, a, p {
    color: white;
    font-family: $main-font;
    line-height: 1rem;
}

p {
    letter-spacing: 1px;
}

li {
    list-style: none;
}

img {
    display: block;
    background-repeat: no-repeat;
}

.flex {
    display: flex;
}

.flx-col {
    display: flex;
    flex-flow: column;
}

.aln-center {
    display: flex;
    align-items: center;
}

.aln-base {
    display: flex;
    align-items: baseline;
}

.flx-wrap {
    display: flex;
    flex-wrap: wrap;
}

.spc-btw {
    display: flex;
    justify-content: space-between;
} 

.spc-around {
    display: flex;
    justify-content: space-around;
}

.spc-evenly {
    display: flex;
    justify-content: space-evenly;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 85%;
    // border: 1px solid red;
}

