* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1600px;
    // background: $background;
}

html {
    font-size: 125%;
}

a {
    text-decoration: none;
}

h1, h2, h3, a, p {
    color: white;
    font-family: $main-font;
    line-height: 1rem;
}

p {
    letter-spacing: 1px;
}

li {
    list-style: none;
}

img {
    display: block;
    background-repeat: no-repeat;
}

.flex {
    display: flex;
}

.flx-col {
    display: flex;
    flex-flow: column;
}

.aln-center {
    display: flex;
    align-items: center;
}

.aln-base {
    display: flex;
    align-items: baseline;
}

.flx-wrap {
    display: flex;
    flex-wrap: wrap;
}

.spc-btw {
    display: flex;
    justify-content: space-between;
} 

.spc-around {
    display: flex;
    justify-content: space-around;
}

.spc-evenly {
    display: flex;
    justify-content: space-evenly;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 85%;
}

.button a {
    font-family: $big-font;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    background: $accent-2;
    padding: 5px 40px;
}

main {
    grid-row: 1/10;
    grid-column: 1/12;
    display: grid;
    grid-template-columns: 12.5%
                           12.5%
                           12.5%
                           6.25%
                           6.25%
                        //    --
                           6.25%
                           6.25%
                           12.5%
                           12.5%
                           12.5%;

    grid-template-rows: 700px
                        200px
                        350px
                        70px
                        30px
                        70px
                        40px
                        250px
                        300px
                        100px
                        50px
                        100px
                        400px
                        200px
                        200px;
}

@media (max-width: 1000px) {
    main {
        // display: block;
        grid-template-rows: 760px
                            200px
                            350px
                            70px
                            30px
                            70px
                            40px
                            250px
                            300px
                            100px
                            50px
                            100px
                            400px
                            200px
                            200px;
    }
}

@media (max-width: 800px) {
     main {
        grid-template-rows: 760px
                            900px
                            350px
                            70px
                            30px
                            70px
                            40px
                            250px
                            300px
                            100px
                            50px
                            100px
                            400px
                            200px
                            200px;
    }
}

@media (max-width: 400px) {
     main {
        grid-template-rows: 780px
                            1000px
                            350px
                            70px
                            30px
                            70px
                            40px
                            250px
                            300px
                            100px
                            50px
                            100px
                            400px
                            200px
                            200px;
    }
}

