// .super-grid {
//     display: grid;
//     grid-template-columns: repeat(8, 12.5%);
//     grid-template-rows: 100px 
//                         200px 
//                         50px 
//                         250px 
//                         60px
//                         100px;

// }

header {
    // background: black;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 100px 
                        200px 
                        50px 
                        100px
                        250px
                        60px
                        100px;
}

.header-bg {
    grid-row: 1/6;
    grid-column: 1/9;
    background: url(../assets/home-about/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: 1px solid yellow;
}

.header-bg-side {
    grid-row: 3/7;
    grid-column: 5/9;
    background: url(../assets/home-about/header-box.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-nav {
    grid-row: 1/2;
    grid-column: 1/9;
    // width: 80%;
    width: 750px;
    margin: 0 auto;
}

.nav-item {
    font-family: $main-font;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 20px 0;
    a {
        transition: all .5s ease;
        padding: 20px 40px;
    }
    a:hover {
        color: $accent;
    }
}

.logo {
    font-size: 3rem;
    letter-spacing: 1px;
    a {
        font-family: $big-font;
        padding: 40px;
        width: 80px;
    }
}

.main-title {
    grid-row: 4/5;
    grid-column: 3/7;
    width: 100%;
    .main-title-item {
        z-index: 1;
        font-family: $big-font;
        font-size: 13rem;
        font-weight: 500;
        line-height: 10.5rem;
        letter-spacing: 2.4px; 
        color: $accent;
        margin: 0 auto;
        span {
            font-family: $main-font;
            font-size: 3.5rem;
            color: white;
            line-height: 1rem;
            padding-left: 7px;
            text-align: left;
        }
    }
}







