.section-break {
    grid-column: 1/12;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 400px;
    height: 100px;
    z-index: 30;
}

.section-break-item {
    background: url(../assets/banner/banner-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 400px;
}