.section-break {
    margin: 0 auto;
}

.section-break-item {
    background: url(../assets/banner/banner-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
}