.events-img img {
    box-shadow: -15px 15px $accent;
    width: 100%;
}

.events {
    grid-column: 1 / 11;
    grid-row: 16;
    background: $background-2;
    padding: 10% 0; 
    article {
        width: 70%;
        margin-left: 5%;
        h2 {
        color: $accent;
        font-size: 2.7rem;
        padding-bottom: 20px;
        }
        p {
        font-size: 1.7rem;
        line-height: 1.8rem;
        padding-bottom: 50px;
        }
    }  
}

@media (max-width: 1200px) {
    section.events {
        padding-top: 0;
        position: relative;
    }
    .events .container {
        flex-flow: column;
        border: 7px solid $accent;
        padding-top: 0;
         position: absolute;
        top: 0;
        right: 0;
        article.events-item {
            background: rgba(17, 16, 16, .5);
            margin: 5% auto 10%;
            text-align: center;
            width: 80%;
            padding: 10%;
            // border: 7px solid $accent;
        }
    }

    .events-img img {
        width: 40%;
        margin: 0 auto;
        box-shadow: none;
        display: none;
    }
}