// ----- General Element Styles ----->

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    background: $background-2;
}

html {
    font-size: 125%;
}

a {
    text-decoration: none;
}

h1, h2, h3, a, p, label, ul, li {
    color: white;
    font-family: $main-font;
    line-height: 1rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    letter-spacing: 1px;
    font-size: 1.4rem;
}

li {
    list-style: none;
}


img {
    display: block;
    background-repeat: no-repeat;
}


// ----- General Class Styles ----->


.flex {
    display: flex;
}

.flx-col {
    display: flex;
    flex-flow: column;
}

.aln-center {
    display: flex;
    align-items: center;
}

.aln-base {
    display: flex;
    align-items: baseline;
}

.flx-wrap {
    display: flex;
    flex-wrap: wrap;
}

.jst-center {
    display: flex;
    justify-content: center;
}

.spc-btw {
    display: flex;
    justify-content: space-between;
} 

.spc-around {
    display: flex;
    justify-content: space-around;
}

.spc-evenly {
    display: flex;
    justify-content: space-evenly;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 85%;
}


// ----- Button Styles ----->


.button a {
    font-family: $big-font;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    background: $accent-2;
    padding: 10px 40px;
    transition: all .3s ease;
    border-radius: 3px;
}

.button a:hover {
    background: darken($accent-2, 10);
}

.button a:focus {
    border: 1px solid $accent;
}

.submit-button button {
    width: 100%;
    background: $accent-2;
    border: none;
    padding: 15px 0;
    text-transform: capitalize;
    color: white;
    font-family: $big-font;
    letter-spacing: 2px;
    transition: all .3s ease;
}

.submit-button button:focus {
    border: 1px dotted $accent;
}


