.super-grid {
    display: grid;
    grid-template-columns: 12.5%
                           12.5%
                           12.5%
                           6.25%
                           6.25%
                           6.25%
                           6.25%
                           12.5%
                           12.5%
                           12.5%;

    grid-template-rows: 700px
                        200px
                        350px
                        70px
                        30px
                        70px
                        40px
                        250px
                        2470px;
}

@media (max-width: 1000px) {
    .super-grid {
        display: block;
    }
}

header {
    grid-row: 1/2;
    grid-column: 1/11;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 100px 
                        200px 
                        50px 
                        100px
                        250px
                        80px
                        100px;
}

@media (max-width: 1000px) {
    header {
        background: url(../assets/home-about/home-image-1.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: block;
        .header-bg {
            display: none;
        }
    }
}

.header-bg {
    grid-row: 1/6;
    grid-column: 1/9;
    background: url(../assets/home-about/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


@media (max-width: 1000px) {
    .header-bg {
        min-height: 100vh;
    }
}

.header-bg-side {
    grid-row: 3/7;
    grid-column: 5/9;
    background: url(../assets/home-about/header-box.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

@media (max-width: 1000px) {
    .header-bg-side {
        opacity: 0;
    }
}

.header-nav {
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/9;
    width: 750px;
    margin: 0 auto;
    padding-top: 2.5%;
    height: 150px;
}

.hamburger {
    display: none;
    color: white;
    font-size: 1rem;
    padding: 0;
    float: right;
    a {
        padding: 10px 5px 10px 20px;
        transition: all 1s ease;
        justify-content: flex-end;
        i {
            align-self: flex-end;
            justify-content: flex-end;
        }
    }
}

.ham-nav {
    background: black;
    position: absolute;
    top: -300px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 255px;
    flex-flow: column;
    justify-content: center;
    transition: all .5s ease;
    .nav-item {
        background: black;
        padding: 0;
        text-align: center;
        width: 100%;
        display: flex;
        height: 100%;
        a {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    .nav-item:last-child {
        border-bottom: 0;
    }
}

.hamburger a:hover {
    color: $accent;
}

.hamburger:hover .ham-nav {
    top: 0;
}

.hamburger .nav-item:hover a,
.hamburger .nav-item:active a {
    top: 0;
    background: rgba(grey, .5);
}

@media (max-width: 1000px) {
    .logo {
        display: none;
    }
}

@media (max-width: 750px) {
    .header-nav {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .header-nav {
        display: none;
    }
    .hamburger {
        grid-row: 1;
        grid-column: 8/12;
        display: block;
        padding: 15px;
        z-index: 1000;
    }
}

.nav-item {
    font-family: $main-font;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 20px 0;
    a {
        transition: all .5s ease;
        padding: 20px 40px;
        transition: all 1s ease;
    }
    a:hover {
        color: $accent;
    }
}

.logo {
    font-size: 3rem;
    letter-spacing: 1px;
    a {
        font-family: $big-font;
        padding: 40px;
        width: 80px;
    }
}

@media (max-width: 530px) {
    .nav-item {
        font-size: 1.4rem;
    }
}

.main-title {
    grid-row: 4/5;
    grid-column: 2/8;
    width: 100%;
    .main-title-item {
        z-index: 1;
        font-family: $big-font;
        font-size: 13rem;
        font-weight: 500;
        line-height: 10.5rem;
        letter-spacing: 2.4px; 
        color: $accent;
        margin: 0 auto;
        transition: all 1s ease;
        span {
            font-family: $main-font;
            font-size: 4rem;
            color: white;
            letter-spacing: 3.5px;
            line-height: 1rem;
            padding-left: 7px;
            text-align: left;
            transition: all 1s ease;
        }
    }
}

@media (max-width: 1000px) {
    .main-title {
        align-items: center;
        justify-content: center;
        height: calc(100vh - 200px);
    }
}

@media (max-width: 530px) {
    .main-title .main-title-item {
        font-size: 9rem;
        line-height: 8rem;
        span {
            font-size: 2.5rem;
            text-align: center;
            padding: 0;
        }
    }
   
}

@media (max-width: 350px) {
    .main-title .main-title-item {
        font-size: 8rem;
        line-height: 7rem;
        span {
            font-size: 2rem;
            text-align: center;
        }
    }
   
}









