.about-1 {
    grid-row: 2/6;
    grid-column: 1/11;
    background: $background-2;
}

.about-item-img img {
    box-shadow: 10px 10px $accent;
    margin-bottom: 10%;
    width: 100%;
}

.about-section {
    background: $background-2;
    .about-item {
        width: 50%;
        padding-top: 2%;
        padding-bottom: 2%;
        h2 {
            padding-top: 20px;
            padding-bottom: 20px;
            transition: all 1s ease;
            text-transform: capitalize;
        }
        p {
            font-size: 1.7rem;
            word-spacing: 2px;
            line-height: 1.3rem;
            padding-right: 10%;
            transition: all 1s ease;
        }
    }
    .about-item:last-child p {
        padding-right: 0;
    }
}

.icon {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 50%;
    color: white;
    background: $accent-2;
    flex: none;
    margin-right: 3%;
    i {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .about-1-bg-color {
        display: none;
    }
    .about-1 {
        padding: 10% 0;
        align-items: center;
    }
    .about-section {
        transition: all 1s ease;
        .about-item {
            .icon {
                font-size: 1.2rem;
            }
            h2 {
                font-size: 2.2rem;
            }
            p {
                font-size: 1.4rem;
                padding: 0;
            }
        }
    }
}

@media (max-width: 800px) {
    .about-section {  
        flex-flow: column;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        .about-item {
            padding: 10% 0;
            flex-flow: column;
            margin: 0 auto;
            width: 70%;
            .icon {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 500px) {
    .about-1 .container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .about-1 .container {
        width: 100%;
    }
}