.about-2-a {
    grid-column: 1/5;
    grid-row: 5/11;
}

.about-2-bg {
    grid-row: 6/12;
    grid-column: 1/11;
    background: $background;
    width: 100%;
}

.about-item-img img {
    align-self: flex-start;
}

.about-section-1 {
    background: $background;
    align-items: flex-end;
    padding-bottom: 10%;
    .about-item {
        align-items: flex-end;
        width: 80%;
        }
        h2 {
            color: $accent;
            font-size: 2.7rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        p {
            font-size: 1.7rem;
            line-height: 1.8rem;
            padding-bottom: 50px;
            text-align: right;
        }
}

.about-2-b {
    grid-column: 7/11;
    grid-row: 8/12;
    z-index: 20;
}

.about-section-2 {
    background: $background;
    // padding: 10% 0;
    .about-item-2 {
        width: 80%;
        h2 {
            color: $accent;
            font-size: 2.7rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        p {
            font-size: 1.7rem;
            line-height: 1.8rem;
            padding-bottom: 50px;
            text-align: left;
        }
    }
    .about-item-img {
        padding: 10% 0 8%;
    }
    .about-item-img img {
        box-shadow: -10px 10px $accent;
        // margin-top: 10%;
        width: 100%;
        align-self: center;
        margin-bottom: 0;
    }
}

@media (max-width: 1000px) {

    .about-2-bg {
        display: none;
    }
    .about-2-a {
        margin: 0 5% 10%;
        background: $background-2;
        padding: 5%;
        .about-section-1, {
            align-items: flex-start;;
            padding: 0 0 5%;
            border: 1px solid $accent;
            border-radius: 10px 0 0 0;
            box-shadow: 10px 15px $accent;
            .about-item-img {
                margin: 0 auto;
                width: 80%;
                padding-top: 10%;
               
            }
            .about-item-img img {
                box-shadow: 1px 1px $accent;
            }
            .about-item {
                padding: 30px;
                padding-top: 0;
                align-items: flex-start;
                margin: 0 auto;
                h2 {
                    margin: 0 auto;
                    justify-content: flex-start;
                    padding-bottom: 30px;
                }
                p {
                    text-align: center;
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                }
                .button {
                    align-self: flex-end;
                    margin: 0 auto;
                    a {
                        font-size: 1.4rem;
                        letter-spacing: 1.3px;
                    }
                }
            }
        }
    }

    
    .about-2-b {
        margin: 0 10%;
        .about-section-2 {
            flex-direction: column-reverse;
            border: 1px solid $accent;
            box-shadow: 10px 15px $accent;
            border-radius: 10px 0 0 0;
            padding: 3% 0 5%;
        .about-item-2 {
            padding: 30px;
            margin: 0 auto;
            h2 {
                margin: 0 auto;
                padding-top: 0;
                padding-bottom: 30px;
            }
            p {
                margin: 0 auto;
                font-size: 1.4rem;
                line-height: 1.4rem;
                text-align: center;
            }
            .button {
                margin: 0 auto;
                a {
                    font-size: 1.3rem;
                    letter-spacing: 3px;

                }
            }
        }
        .about-item-img {
            margin: 0 auto;
            width: 80%;
            img {
                box-shadow: 1px 1px $accent;
            }
        }

    }
}
    

    .about-item-img img {
        box-shadow: none;
        border-radius: 10px;
    }
}

@media (max-width: 500px) {
    .about-2-a {
        margin: 0 5%;
        padding: 0;
    }
    .about-2-b {
        margin: 0 5%;
    }

    .about-2-a .about-section-1,
    .about-2-b .about-section-2 {
        box-shadow: 0px 10px $accent;
        margin: 0;
    }

    .about-2-a .about-section-1 {
        margin-bottom: 18%;
    }
    .about-item .button a,
    .about-item-2 .button a, {
        font-size: 1.2rem;
    }
}








