.events-img img {
    box-shadow: -15px 15px $accent;
    width: 100%;
}

.events {
    grid-column: 1 / 11;
    grid-row: 16;
    background: $background-2;
    padding: 10% 0; 
    article {
        width: 70%;
        margin-left: 5%;
        h2 {
        color: $accent;
        font-size: 2.7rem;
        padding-bottom: 20px;
        }
        p {
        font-size: 1.7rem;
        line-height: 1.8rem;
        padding-bottom: 50px;
        }
    }  
}

@media (max-width: 1200px) {
    section.events {
        position: relative;
        padding: 10% 0;
        transition: all 1s ease;
    }
    .events .container {
        flex-flow: column;
        border: 5px solid $accent;
        article.events-item {
            background: rgba(17, 16, 16, .5);
            margin: 5% auto;
            text-align: center;
            width: 80%;
            padding: 5%;
        }
    }

    .events-img img {
        width: 40%;
        margin: 0 auto;
        box-shadow: none;
        display: none;
    }
}

@media (max-width: 800px) {
    section.events {
        padding: 20% 0;
    }
    article.events-item {
        h2 {

        }
        p {
            font-size: 1.4rem;
            line-height: 1.4rem;
        }
        .button {
            margin: 0 auto;
            a {
                font-size: 1.2rem;
                letter-spacing: 3px;
            }

        }
    }
}