.gallery {
    grid-column: 1/12;
    grid-row: 17;
    width: 100%;
    padding: 6% 0;
    background: $background;
}

.gallery-item {
    margin: 0 2%;
    transition: all .5s ease;
}

.gallery-item:hover {
    opacity: .5;
}

.gallery-item:first-child {
    margin-left: 0;
}

.gallery-item:last-child {
    margin-right: 0;
}

.gallery-item img {
    width: 100%;
}

@media (max-width: 650px) {
    .gallery {
        background: $background-2;
        padding-top: 0;
    }
    .gallery .flex {
        flex-flow: column;
        .gallery-item {
            margin: 0 0 8%;
        }
    }

    .gallery .container {
        width: 84%;
    }

    .gallery .gallery-item a {
        width: 100%;
    }
}

