.blog-comments {
    height: 900px;
}

.submit-form {
    width: 100%;
    margin: 0 auto;
    fieldset {
        height: 400px;
        display: flex;
        padding: 0;
        border: 1px solid blue;
        border: none;
    }
}

.form-item {
    div {
        width: calc((100% - 50px) / 2);
        label {
            color: white;
            font-size: 1.4rem;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        input {
            width: 100%;
            background: $background-2;
            border: none;
            border-bottom: 1px solid $accent;
            height: 25px;
        }
        input:focus {
            background: white;
        }
    }
}

textarea {
    background: $background-2;
    border: 1px solid $accent;
    margin-bottom: 3%;
    resize: none;
}

textarea:focus {
    background: white;
    border: 1px solid $accent-2;
}

textarea::placeholder {
    color: white;
    opacity: 1;
    margin-left: 20px;
    font-size: 1.4rem;
    font-family: $main-font;
    position: relative;
}

