article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  padding: 0;
  margin: 0; }

body {
  max-width: 1600px; }

html {
  font-size: 125%; }

a {
  text-decoration: none; }

h1, h2, h3, a, p {
  color: white;
  font-family: "Chathura", sans-serif;
  line-height: 1rem; }

p {
  letter-spacing: 1px; }

li {
  list-style: none; }

img {
  display: block;
  background-repeat: no-repeat; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }

.aln-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.aln-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.flx-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.spc-btw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.spc-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.spc-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 85%; }

.super-grid {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 6.25% 6.25% 6.25% 6.25% 12.5% 12.5% 12.5%;
  grid-template-rows: 700px 200px 350px 70px 30px 70px 40px 250px 300px 100px 50px 100px; }

header {
  grid-row: 1/2;
  grid-column: 1/11;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 100px  200px  50px  100px 250px 80px 100px; }

.header-bg {
  grid-row: 1/6;
  grid-column: 1/9;
  background: url(../assets/home-about/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }

.header-bg-side {
  grid-row: 3/7;
  grid-column: 5/9;
  background: url(../assets/home-about/header-box.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.header-nav {
  grid-row: 1/2;
  grid-column: 1/9;
  width: 750px;
  margin: 0 auto; }

.nav-item {
  font-family: "Chathura", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 20px 0; }
  .nav-item a {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding: 20px 40px; }
  .nav-item a:hover {
    color: #ff8327; }

.logo {
  font-size: 3rem;
  letter-spacing: 1px; }
  .logo a {
    font-family: "Tulpen One", sans-serif;
    padding: 40px;
    width: 80px; }

.main-title {
  grid-row: 4/5;
  grid-column: 3/7;
  width: 100%; }
  .main-title .main-title-item {
    z-index: 1;
    font-family: "Tulpen One", sans-serif;
    font-size: 13rem;
    font-weight: 500;
    line-height: 10.5rem;
    letter-spacing: 2.4px;
    color: #ff8327;
    margin: 0 auto; }
    .main-title .main-title-item span {
      font-family: "Chathura", sans-serif;
      font-size: 4rem;
      color: white;
      letter-spacing: 3.5px;
      line-height: 1rem;
      padding-left: 7px;
      text-align: left; }

.about-1 {
  grid-row: 2/6;
  grid-column: 1/11;
  background: #111010; }

.about-item-img img {
  -webkit-box-shadow: 10px 10px #ff8327;
  box-shadow: 10px 10px #ff8327;
  margin-bottom: 10%;
  width: 100%; }

.about-section {
  background: #111010; }
  .about-section .about-item {
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%; }
    .about-section .about-item h2 {
      font-size: 2.4rem;
      font-weight: 700px;
      padding-top: 20px;
      padding-bottom: 20px; }
    .about-section .about-item p {
      font-size: 1.7rem;
      word-spacing: 2px;
      line-height: 1.3rem;
      padding-right: 10%; }
  .about-section .about-item:last-child p {
    padding-right: 0; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  background: #bf2603;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 3%; }
  .icon i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.about-2-a {
  grid-column: 1/5;
  grid-row: 5/11; }

.about-2-bg {
  grid-row: 6/12;
  grid-column: 1/11;
  background: #220303;
  width: 100%; }

.about-section-1 {
  background: #220303;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 10%; }
  .about-section-1 .about-item {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 80%; }
    .about-section-1 .about-item h2 {
      color: #ff8327;
      font-size: 2.7rem;
      padding-top: 20px;
      padding-bottom: 20px; }
    .about-section-1 .about-item p {
      font-size: 1.7rem;
      line-height: 1.8rem;
      padding-bottom: 50px; }

.button a {
  font-family: "Tulpen One", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  background: #bf2603;
  padding: 5px 30px; }

.about-2-b {
  grid-column: 7/11;
  grid-row: 8/12;
  z-index: 20; }

.about-section-2 {
  background: #220303;
  padding-bottom: 10%; }
  .about-section-2 .about-item-2 {
    width: 80%; }
    .about-section-2 .about-item-2 h2 {
      color: #ff8327;
      font-size: 2.7rem;
      padding-top: 20px;
      padding-bottom: 20px; }
    .about-section-2 .about-item-2 p {
      font-size: 1.7rem;
      line-height: 1.8rem;
      padding-bottom: 50px; }
  .about-section-2 .about-item-img img {
    -webkit-box-shadow: -10px 10px #ff8327;
    box-shadow: -10px 10px #ff8327;
    margin-top: 10%; }

.party-inquiry {
  grid-row: 12/14;
  grid-column: 1/11;
  background: #111010;
  text-align: center;
  padding: 10% 0; }
  .party-inquiry .container {
    width: 65%;
    max-width: 1000px; }
  .party-inquiry h2 {
    font-size: 2.7rem;
    color: #ff8327;
    padding-top: 20px;
    padding-bottom: 30px; }
  .party-inquiry p {
    font-size: 1.7rem;
    word-spacing: 2px;
    line-height: 1.8rem; }
  .party-inquiry .button {
    margin-top: 3%; }

.section-break {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 500px; }

.section-break-item {
  grid-row: 1/2;
  grid-column: 1/2;
  background: url(../assets/banner/banner-image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100%; }
