article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  padding: 0;
  margin: 0; }

body {
  margin: 0 auto;
  max-width: 1600px;
  background: #111010; }

html {
  font-size: 125%; }

a {
  text-decoration: none; }

h1, h2, h3, a, p {
  color: white;
  font-family: "Chathura", sans-serif;
  line-height: 1rem; }

p {
  letter-spacing: 1px; }

li {
  list-style: none; }

img {
  display: block;
  background-repeat: no-repeat; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }

.aln-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.aln-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.flx-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.spc-btw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.spc-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.spc-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 85%; }

.button a {
  font-family: "Tulpen One", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  background: #bf2603;
  padding: 10px 40px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 3px; }

.button a:hover {
  background: #8d1c02; }

main {
  grid-row: 1/10;
  grid-column: 1/12;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 6.25% 6.25% 6.25% 6.25% 12.5% 12.5% 12.5%;
  grid-template-rows: 700px 200px 350px 70px 30px 70px 40px 250px 300px 100px 50px 100px 400px 200px 200px; }

@media (max-width: 1000px) {
  main {
    display: block;
    z-index: 100; } }

.super-grid {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 6.25% 6.25% 6.25% 6.25% 12.5% 12.5% 12.5%;
  grid-template-rows: 700px 200px 350px 70px 30px 70px 40px 250px 2470px; }

@media (max-width: 1000px) {
  .super-grid {
    display: block; } }

header {
  grid-row: 1/2;
  grid-column: 1/11;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 100px  200px  50px  100px 250px 80px 100px; }

@media (max-width: 1000px) {
  header {
    background: url(../assets/home-about/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block; }
    header .header-bg {
      display: none; } }

.header-bg {
  grid-row: 1/6;
  grid-column: 1/9;
  background: url(../assets/home-about/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }

@media (max-width: 1000px) {
  .header-bg {
    min-height: 100vh; } }

.header-bg-side {
  grid-row: 3/7;
  grid-column: 5/9;
  background: url(../assets/home-about/header-box.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

@media (max-width: 1000px) {
  .header-bg-side {
    opacity: 0; } }

.header-nav {
  grid-row: 1/2;
  grid-column: 1/9;
  width: 750px;
  margin: 0 auto; }

.hamburger {
  display: none;
  color: white;
  font-size: 1rem;
  padding: 0;
  float: right; }
  .hamburger a {
    padding: 10px 5px 10px 20px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .hamburger a i {
      -ms-flex-item-align: end;
      align-self: flex-end;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }

.ham-nav {
  background: black;
  z-index: 20;
  position: absolute;
  top: -300px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 255px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .ham-nav .nav-item {
    background: black;
    padding: 0;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .ham-nav .nav-item a {
      height: 100%;
      width: 100%;
      display: block; }
  .ham-nav .nav-item:last-child {
    border-bottom: 0; }

.hamburger a:hover {
  color: #ff8327; }

.hamburger:hover .ham-nav {
  top: 0; }

.hamburger .nav-item:hover a {
  top: 0;
  background: rgba(128, 128, 128, 0.5); }

@media (max-width: 750px) {
  .header-nav {
    width: 100%; }
  .logo {
    display: none; } }

@media (max-width: 500px) {
  .header-nav {
    display: none; }
  .hamburger {
    grid-row: 1;
    grid-column: 8/12;
    display: block;
    padding: 15px; } }

.nav-item {
  font-family: "Chathura", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 20px 0; }
  .nav-item a {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding: 20px 40px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .nav-item a:hover {
    color: #ff8327; }

.logo {
  font-size: 3rem;
  letter-spacing: 1px; }
  .logo a {
    font-family: "Tulpen One", sans-serif;
    padding: 40px;
    width: 80px; }

@media (max-width: 530px) {
  .nav-item {
    font-size: 1.4rem; } }

.main-title {
  grid-row: 4/5;
  grid-column: 2/8;
  width: 100%; }
  .main-title .main-title-item {
    z-index: 1;
    font-family: "Tulpen One", sans-serif;
    font-size: 13rem;
    font-weight: 500;
    line-height: 10.5rem;
    letter-spacing: 2.4px;
    color: #ff8327;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .main-title .main-title-item span {
      font-family: "Chathura", sans-serif;
      font-size: 4rem;
      color: white;
      letter-spacing: 3.5px;
      line-height: 1rem;
      padding-left: 7px;
      text-align: left;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }

@media (max-width: 1000px) {
  .main-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: calc(100vh - 200px); } }

@media (max-width: 530px) {
  .main-title .main-title-item {
    font-size: 9rem;
    line-height: 8rem; }
    .main-title .main-title-item span {
      font-size: 2.5rem;
      text-align: center;
      padding: 0; } }

@media (max-width: 350px) {
  .main-title .main-title-item {
    font-size: 8rem;
    line-height: 7rem; }
    .main-title .main-title-item span {
      font-size: 2rem;
      text-align: center; } }

.about-1 {
  grid-row: 2/6;
  grid-column: 1/11;
  background: #111010; }

.about-item-img img {
  -webkit-box-shadow: 10px 10px #ff8327;
  box-shadow: 10px 10px #ff8327;
  margin-bottom: 10%;
  width: 100%; }

.about-section {
  background: #111010; }
  .about-section .about-item {
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%; }
    .about-section .about-item h2 {
      font-size: 2.4rem;
      font-weight: 700px;
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .about-section .about-item p {
      font-size: 1.7rem;
      word-spacing: 2px;
      line-height: 1.3rem;
      padding-right: 10%;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
  .about-section .about-item:last-child p {
    padding-right: 0; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  background: #bf2603;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 3%; }
  .icon i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@media (max-width: 1000px) {
  .about-1 {
    padding: 10% 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about-section {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .about-section .about-item .icon {
      font-size: 1.2rem; }
    .about-section .about-item h2 {
      font-size: 2.2rem; }
    .about-section .about-item p {
      font-size: 1.4rem;
      padding: 0; }
  .about-1-bg-color {
    display: none; } }

@media (max-width: 800px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center;
    margin: 0 auto;
    width: 100%; }
    .about-section .about-item {
      padding: 10% 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      margin: 0 auto;
      width: 70%; }
      .about-section .about-item .icon {
        margin: 0 auto; } }

@media (max-width: 500px) {
  .about-1 .container {
    width: 100%; } }

@media (max-width: 500px) {
  .about-1 .container {
    width: 100%; } }

.about-2-a {
  grid-column: 1/5;
  grid-row: 5/11; }

.about-2-bg {
  grid-row: 6/12;
  grid-column: 1/11;
  background: #220303;
  width: 100%; }

.about-item-img img {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.about-section-1 {
  background: #220303;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 10%; }
  .about-section-1 .about-item {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 80%; }
  .about-section-1 h2 {
    color: #ff8327;
    font-size: 2.7rem;
    padding-top: 20px;
    padding-bottom: 20px; }
  .about-section-1 p {
    font-size: 1.7rem;
    line-height: 1.8rem;
    padding-bottom: 50px;
    text-align: center; }

.about-2-b {
  grid-column: 7/11;
  grid-row: 8/12;
  z-index: 20; }

.about-section-2 {
  background: #220303; }
  .about-section-2 .about-item-2 {
    width: 80%; }
    .about-section-2 .about-item-2 h2 {
      color: #ff8327;
      font-size: 2.7rem;
      padding-top: 20px;
      padding-bottom: 20px; }
    .about-section-2 .about-item-2 p {
      font-size: 1.7rem;
      line-height: 1.8rem;
      padding-bottom: 50px;
      text-align: center; }
  .about-section-2 .about-item-img {
    padding: 10% 0 8%; }
  .about-section-2 .about-item-img img {
    -webkit-box-shadow: -10px 10px #ff8327;
    box-shadow: -10px 10px #ff8327;
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 0; }

@media (max-width: 1000px) {
  .about-2-bg {
    display: none; }
  .about-2-a {
    background: #111010;
    padding: 5%; }
    .about-2-a .about-section-1 {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 0 0 5%;
      border: 5px solid #ff8327; }
      .about-2-a .about-section-1 .about-item-img {
        margin: 0 auto;
        width: 80%;
        padding-top: 10%; }
      .about-2-a .about-section-1 .about-item {
        padding: 30px;
        padding-top: 0;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin: 0 auto; }
        .about-2-a .about-section-1 .about-item h2 {
          margin: 0 auto;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          padding-bottom: 30px; }
        .about-2-a .about-section-1 .about-item p {
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.4rem; }
        .about-2-a .about-section-1 .about-item .button {
          -ms-flex-item-align: end;
          align-self: flex-end;
          margin: 0 auto; }
          .about-2-a .about-section-1 .about-item .button a {
            font-size: 1.4rem;
            letter-spacing: 1.3px; }
  .about-2-b {
    padding: 5%; }
    .about-2-b .about-section-2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      border: 5px solid #ff8327;
      padding: 3% 0 5%; }
      .about-2-b .about-section-2 .about-item-2 {
        padding: 30px;
        margin: 0 auto; }
        .about-2-b .about-section-2 .about-item-2 h2 {
          margin: 0 auto;
          padding-top: 0;
          padding-bottom: 30px; }
        .about-2-b .about-section-2 .about-item-2 p {
          margin: 0 auto;
          font-size: 1.4rem;
          line-height: 1.4rem; }
        .about-2-b .about-section-2 .about-item-2 .button {
          margin: 0 auto; }
          .about-2-b .about-section-2 .about-item-2 .button a {
            font-size: 1.3rem;
            letter-spacing: 3px; }
      .about-2-b .about-section-2 .about-item-img {
        margin: 0 auto;
        width: 80%; }
        .about-2-b .about-section-2 .about-item-img img {
          -webkit-box-shadow: none;
          box-shadow: none; }
  .about-item-img img {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 10px; } }

@media (max-width: 500px) {
  .about-item .button a,
  .about-item-2 .button a {
    font-size: 1.2rem; } }

.party-inquiry {
  grid-row: 12/14;
  grid-column: 1/11;
  background: #111010;
  text-align: center;
  padding: 10% 0; }
  .party-inquiry .container {
    width: 65%;
    max-width: 1000px; }
  .party-inquiry h2 {
    font-size: 2.7rem;
    color: #ff8327;
    padding-bottom: 5%; }
  .party-inquiry p {
    font-size: 1.7rem;
    word-spacing: 2px;
    line-height: 1.8rem;
    padding-bottom: 5%; }
  .party-inquiry .button {
    margin-top: 3%; }

@media (max-width: 1000px) {
  .party-inquiry {
    padding: 10% 0 20%; } }

@media (max-width: 700px) {
  .party-inquiry {
    margin: 0 auto; }
    .party-inquiry h2 {
      font-size: 2.5rem;
      padding-bottom: 5%;
      line-height: 1.8rem;
      text-align: center;
      margin: 0 auto; }
    .party-inquiry p {
      margin: 0 auto;
      font-size: 1.5rem;
      line-height: 1.4rem;
      padding-bottom: 10%; } }

.section-break {
  grid-column: 1/12;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 400px;
  z-index: 30; }

.section-break-item {
  background: url(../assets/banner/banner-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;
  height: 400px; }

.events-img img {
  -webkit-box-shadow: -15px 15px #ff8327;
  box-shadow: -15px 15px #ff8327;
  width: 100%; }

.events {
  grid-column: 1 / 11;
  grid-row: 16;
  background: #111010;
  padding: 10% 0; }
  .events article {
    width: 70%;
    margin-left: 5%; }
    .events article h2 {
      color: #ff8327;
      font-size: 2.7rem;
      padding-bottom: 20px; }
    .events article p {
      font-size: 1.7rem;
      line-height: 1.8rem;
      padding-bottom: 50px; }

@media (max-width: 1200px) {
  section.events {
    position: relative;
    padding: 10% 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .events .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    border: 5px solid #ff8327; }
    .events .container article.events-item {
      background: rgba(17, 16, 16, 0.5);
      margin: 5% auto;
      text-align: center;
      width: 80%;
      padding: 5%; }
  .events-img img {
    width: 40%;
    margin: 0 auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none; } }

@media (max-width: 800px) {
  section.events {
    padding: 20% 0; }
  article.events-item p {
    font-size: 1.4rem;
    line-height: 1.4rem; }
  article.events-item .button {
    margin: 0 auto; }
    article.events-item .button a {
      font-size: 1.2rem;
      letter-spacing: 3px; } }

.gallery {
  grid-column: 1/12;
  grid-row: 17;
  width: 100%;
  padding: 6% 0;
  background: #220303; }

.gallery-item {
  margin: 0 2%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.gallery-item:hover {
  opacity: .5; }

.gallery-item:first-child {
  margin-left: 0; }

.gallery-item:last-child {
  margin-right: 0; }

.gallery-item img {
  width: 100%; }

@media (max-width: 650px) {
  .gallery {
    background: #111010;
    padding-top: 0; }
  .gallery .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .gallery .flex .gallery-item {
      margin: 0 0 8%; }
  .gallery .container {
    width: 84%; }
  .gallery .gallery-item a {
    width: 100%; } }

footer {
  font-family: "Chathura", sans-serif;
  font-size: 2rem;
  background: #111010;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  color: white; }
